doctype html
html(data-ng-app='app')
    include partials/_head
    body(ng-controller='fooController')
        h1 Boilerplate versão {{  }}
        form
            input(ng-model='convidado.nome')
            button(ng-click='adicionarConvidado()') +
        table
            tr(ng-repeat='convidado in convidados')
                td {{convidado.nome}}
        pre {{convidados}}